<!-- Displaying a category along with a list of 3 groups that belong to it -->

<h3>Category: @Model.Name</h3>
<a class="btn btn-light" href="/Category/Show/@Model.CategoryId">Inspect Category</a>
<div class="my-5"></div>