
@{
    ViewBag.Title = "All Categories";
}

<div class="jumbotron jumbotron-fluid" style="background-color:#293951">
    <div class="container d-flex flex-column align-items-center">
        <h1 style="color:white">Category management dashboard</h1>
        <a class="btn btn-primary mt-4" href="/Category/New">Add Category</a>
    </div>
</div>

@foreach (YahooGroups.Models.CategoryModel category in ViewBag.Categories)
{
    @Html.Partial("DisplayCategoryPartialView", category)
}