@model YahooGroups.Models.CategoryModel

<div class="jumbotron jumbotron-fluid">
    <div class="container w-100 d-flex flex-column align-items-center">
        <h1>Manage category: @Model.Name</h1>
        <div class="d-flex flex-row w-50 justify-content-around mt-4">
            <a class="btn btn-primary" href="/Category/Edit/@Model.CategoryId">Edit this category</a>

            <form method="post" action="/Category/Delete/@Model.CategoryId">

                @Html.HttpMethodOverride(HttpVerbs.Delete)

                <button class="btn btn-danger" type="submit">Delete this category</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid d-flex flex-row w-100 justify-content-around overflow-auto">
    <img class="w-25 sticky-top" src="~/Assets/Categories/Groups.svg"/>
    <div class="d-flex flex-column align-items-center align-content-around" style="width:40%">
        <h2 style="color:#EECB29"><strong>Groups in this category</strong></h2>
        @foreach (var group in Model.Groups)
        {
            <div class="d-flex flex-row w-100 justify-content-around mt-3">
                <h4>@group.groupName: </h4>
                <p>@group.groupDescripiton</p>
            </div>
            <a class="btn btn-primary" href="/Group/Show/@group.groupId">View Group</a>
        }
    </div>
</div>

