@model YahooGroups.Models.CategoryModel

<h2>@Model.Name category</h2>
<hr />
<br />

<div class="flex-row">
    <a class="btn" href="/Category/Edit/@Model.CategoryId">Edit this category</a>
    <a class="btn btn-danger" href="/Category/Delete/@Model.CategoryId">Delete this category</a>
</div>

<!-- Now display all groups in this category -->
<!-- TO DO -->