@{
    ViewBag.Title = "Groups";
}

<h2>@ViewBag.Title</h2>
<hr />


@foreach (var group in ViewBag.Groups)
{

    <p>@group.groupName</p>
    <a class="btn btn-success" href="/Group/Show/@group.groupId">View group</a>
    if (ViewBag.IsLogedIn)
    {
        <button class="btn btn-success" type="submit">Join this group</button>
    }
}

<br />
<br />
@if (ViewBag.IsLogedIn)
{
    <a class="btn" href="/Group/CreateGroup">Create group</a>
}
