@{
    ViewBag.Title = "Groups";
}

<h2>@ViewBag.Title</h2>
<hr />

<from method="post" action="/Group/Index">
    @foreach (var group in ViewBag.Groups)
    {
        //@Html.Label("groupName", "Denumire Grup")
        <p>@group.groupName</p>
        <a class="btn btn-success" href="/Group/Show/@group.groupId">View group</a>
        <button class="btn btn-success" type="submit">Join this group</button>
    }
</from>
<br />
<br />
@if (ViewBag.IsLogedIn)
{
    <a class="btn" href="/Group/CreateGroup">Create group</a>
}
